body {
    margin:0;
    /*background-color: cornflowerblue;*/
}
.main{
    height: 600px;
    width: 600px;
    border:1px solid black;
    margin: 0 auto;
}

.main>div{
    
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    font-size: 1.5rem;
    border-radius: 5%;
}
.yellow{
    background-color: yellow;
    border: 10px solid black;
    padding-left: 1rem;
    

}
.red{
    background-color: red;
    border: 8px solid aqua;
    text-align: center;
    padding-top: 2rem;
    margin-left: 200px;
}
.blue{
    background-color: blue;
    border: 5px solid greenyellow;
    color:bisque;
    text-align:right;
    padding-right: 1rem;
    margin-left:400px;
}